@model SQLServerCourse.Domain.ViewModels.PersonalProfile.UserInfoViewModel

@{
    ViewData["Title"] = "Личный кабинет | SQLCourse";
}

@{
    var buttonStyle = "col-md-12";
    if (Model.IsExamCompleted) buttonStyle = "col-md-6";
}

<div class="container-fluid">
    <div class="container">
        <div align="center" class="my-3">
            <h2>
                Личный кабинет
            </h2>
        </div>
        <div class="row personalArea-userinfo text-white p-3 pt-4 me-0 my-5" style="font-size:20px; border-radius:40px;">
            <div class="col-md-6 col-sm-12 ps-5">
                Логин:      <b>@Model.Login</b>
                <br />
                Фамилия:      <b>@Model.Surname</b>
                <br />
                Имя:      <b>@Model.Name</b>
                <br />
            </div>
            <div class="col-md-6 col-sm-12 ps-5">
                Окончательный результат: @if (Model.IsExamCompleted == false)
                {
                    <text>не получен</text>
                }
                else
                {
                    @Model.FinalGrade <text> баллов из 100</text>
                }
                <br />
                <button type="button" align="center" class="btn btn-gradient text-white"
                        onclick="openModal({ url: '/PersonalProfile/GetLessonRecords',  modalId: 'lessonRecordsModal'})" 
                        data-toggle="ajax-modal" data-target="Modal">   
                    Список оценок
                </button>
                <br />
                Лекций пройдено: @Model.LessonsCompleted
            </div>
        </div>
        <div class="row mb-4">
            @for (int i = 1; i < 5; i++)
            {
                @if (Model.LessonsCompleted < i)
                {
                    <a class="btn btn-gradient btn-lg disabled text-white mb-4 p-0 mx-auto" style="height:75px; width:55%; line-height:75px;">
                        @i. @Model.LessonNames[i - 1]
                    </a>
                }
                else
                {
                    <a class="btn btn-gradient btn-lg text-white mb-4 p-0 mx-auto" style="height:75px;  width:55%; line-height:75px;" 
                        asp-controller="Teaching" asp-action="ReadLesson" asp-route-id="@i">
                        @i. @Model.LessonNames[i - 1]
                    </a>
                }
                <br />
            }
        </div>
        <div class="row mx-auto" style="align-content:center;width: 900px; height:75px; background:#1ab1c9; border-radius:35px;">
            <div class="@buttonStyle col-sm-12  text-center">
                @if (Model.LessonsCompleted < 5)
                {
                    <a style="background: linear-gradient(#abb1b4,#93999c); width: 200px;" class="btn btn-gradient text-white">
                        <div class="personalArea-final-exam-div">
                            Экзамен
                        </div>
                    </a>
                }
                else
                {
                    <a class="btn btn-gradient text-white text-center" style="width: 200px;" asp-controller="Teaching" asp-action="PassExam">
                        <div class="personalArea-final-exam-div">
                            Экзамен
                        </div>
                    </a>
                }
            </div>
            @if (Model.IsExamCompleted)
            {
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="personalArea-analys-button">
                        <button type="submit" class="btn btn-gradient text-white" id="butshow" onclick="showAnalysis();">Посмотреть анализ прохождения</button>
                        <button type="submit" class="btn btn-gradient text-white" id="buthide" style="display:none;" onclick="hideAnalysis();">Скрыть анализ прохождения</button>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="personalArea-analysis-text col-md-12 col-sm-12 mb-3 mx-auto py-1" align="justify" style="display:none;" id="analystext">
                @Model.Analys
            </div>
        </div>
    </div>
</div>

<script>
    function showAnalysis() {
        $('#analystext').show();
        $('#buthide').show();
        $('#butshow').hide();
    }
    function hideAnalysis() {
        $('#analystext').hide();
        $('#buthide').hide();
        $('#butshow').show();
    }
</script>


