@using SQLServerCourse.Domain.ViewModels.Review
@model List<ReviewViewModel>

<div class="container mt-2 px-0">
    @if (Model.Any())
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="row review mb-4 mx-auto p-2 pb-0 text-black ">
                <div class="col-md-3 text-center mb-2">
                    <p class="text-center review-user-name fs-6 fw-bolder mb-1 text-break">
                        @Model[i].Login
                    </p>
                    <p class="review-date text-center fs-6 mb-4">
                        @Model[i].ReviewDateTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </p>
                    <a class="btn d-inline br-40 bd-blue-800 mt-3" asp-controller="UserProfile" asp-action="GetUserProfile" asp-route-userLogin="@Model[i].Login">Профиль</a>
                </div>
                <div class="col-md-7 my-auto mb-2">
                    <div class="review-text-container px-3 py-2 my-1">
                        <p class="text-white fs-6">@Model[i].Text</p>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-2 d-flex justify-content-center">
                        <form asp-controller="Review" asp-action="DeleteReview" asp-route-id="@Model[i].Id" asp-route-referrer="GetUserReviews" method="post">
                            <button type="submit" class="btn bd-red-700 br-40 text-white my-2">Удалить</button>
                        </form>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <p class="fs-5 text-white text-center">На данный момент у пользователя нет отзывов</p>
    }
</div>