<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/baseStyles.css" />
    <link rel="stylesheet" href="~/css/bootstrapColor.css" />
    <link rel="stylesheet" href="~/css/documentation.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/personalAccount.css" />
    <link rel="stylesheet" href="~/css/review.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @{
            var textColor = "text-black";
            var backgroundColor = "bg-transparent";
            if (User.IsInRole("Admin"))
            {
                textColor = "text-white";
                backgroundColor = "bg-dark";
            }
        }
        <div class="container-fluid" style="max-width:1600px;">
            <header class="@backgroundColor br-bottom-40" id="header">
                <nav class="navbar navbar-expand-lg navbar-light text-black">
                    <div class="container px-4" style="max-width:1600px;">
                        <a class="navbar-brand @textColor" href="/">SQLCourse MSSQL</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <a class="nav-link active px-0 @textColor" aria-current="page" href="/">На главную</a>
                            <div class="navItemRight" style="margin-left:auto;">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                                    @if (!User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-black my-auto text-black" asp-controller="Review" asp-action="GetReviews">Отзывы</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <button type="button" align="center" class="nav-link my-auto bg-transparent @textColor" style="border:none;"
                                                data-bs-toggle="modal" data-bs-target="#documentaryModal" onclick="openModal({ url: '/Home/Documentary', modalId: 'modalWindow'})">
                                            Документация
                                        </button>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link my-auto" style="color:#868da5; font-size:14px;">@User.Identity.Name</a>
                                        </li>
                                    }
                                    <li class="nav-item dropdown navItemRight">

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a class="nav-link dropdown-toggle @textColor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Аккаунт
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                                                <li><a class="dropdown-item " asp-controller="UserProfile" asp-action="GetUserProfile">Личный кабинет</a></li>
                                                <li>
                                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                                        <button class="dropdown-item">Выйти</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <a class="nav-link text-black" asp-controller="Account" asp-action="Login">Войти</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            @if (User.IsInRole("Admin"))
            {
                <nav class="navbar" style="height:80px;">
                    <div class="admin-list-group mx-auto">
                        <ul class="list-group list-group-horizontal list-group-rou">
                            <li class="list-group-item admin-list-item bd-cyan-800" style="border-radius: 20px 0px 0px 20px"><a asp-controller="User" asp-action="GetUsers" class="d-block h-100 w-100 text-white text-decoration-none">Пользователи</a></li>
                            <li class="list-group-item admin-list-item bd-cyan-800"><a asp-controller="Review" asp-action="GetReviews" class="d-block h-100 w-100 text-white text-decoration-none">Отзывы</a></li>
                            <li class="list-group-item admin-list-item bd-cyan-800" style="border-radius: 0px 20px 20px 0px"><a asp-controller="Lesson" asp-action="Index" asp-route-id="3" class="d-block h-100 w-100 text-white text-decoration-none">Уроки</a></li>
                        </ul>
                    </div>
                </nav>
            }
        </div>
        <div class="container-fluid">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="modal fade" id="modalWindow" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-white border border-white br-40">
                <div class="modal-header d-flex br-top-40 bd-cyan-800">
                    <div class="mx-auto"><p class="fs-3 text-white">Модальное окно</p></div>
                    <div class="float-end">
                        <button type="button" class="btn-close btn-close-white"
                                data-bs-dismiss="modal" aria-label="Закрыть"></button></div>
                    </div>
                <div class="modal-body br-bottom-40 bd-gray">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="wideModalWindow" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
            <div class="modal-content text-white border border-white br-40">
                <div class="modal-header d-flex ps-5 br-top-40 bd-cyan-800">
                    <div class="mx-auto"><p class="fs-3 text-white">Модальное окно</p></div>
                    <div class="float-end">
                        <button type="button" class="btn-close btn-close-white me-2"
                                data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                </div>
                <div class="modal-body br-bottom-40 bd-gray">
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="container-fluid h100perc text-black">
            <div class="container border-top">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-12 h100perc">
                        SQLCourse In MSSQL© +79493597126
                    </div>
                    <div class="col-md-6 col-sm-12  h100perc">
                        m.sedykh@mail.ru 2023-2024
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@*     <script src="~/js/JavaScript.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/1e1acde3d7.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/modal.js"></script>
    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>