@using SQLServerCourse.Domain.ViewModels.UserProfile
@model LessonListViewModel

<div class="container-fluid">
    <div class="container">
        <br />
        @for (int i = 1; i < Model.LessonNames.Count; i++)
        {
            string lessonDisabled = string.Empty;
            if ((i - 1) > Model.LessonsCompleted)
            {
                lessonDisabled = "disabled";
            }
            <a class="btn br-40 bd-cyan-500 d-block mb-5 text-white mx-auto w-75 @lessonDisabled" asp-controller="Lesson" asp-action="ReadLesson" asp-route-id="@i">@i. @Model.LessonNames[i - 1]</a>
        }
        <div class="mb-4">
            <a class="btn bd-indigo-800 d-block text-white mx-auto border border-white w-50 br-40 @(Model.LessonsCompleted < 4 ? "disabled" : "")" asp-controller="Lesson" asp-action="PassLesson" asp-route-id="@Model.LessonNames.Count">Экзамен</a>
        </div>
    </div>
</div>
