@using SQLServerCourse.Domain.ViewModels.PersonalProfile
@model UserProfileViewModel

@{
    ViewData["Title"] = "Личный кабинет | SQLCourse";
}

@{
    bool isCurrentUserProfile = true;
    string cannotChangeData = string.Empty;
    string anotherProfileDisabled = string.Empty;
    string? inputDisabled = null;
    string examRowStyle = "col-md-12";
    string profileCardColor = "bd-cyan-500";

    if (Model.Login != User.Identity.Name)
    {
        isCurrentUserProfile = false;
        anotherProfileDisabled = "disabled";
        cannotChangeData = "disabled";
        profileCardColor = "bd-cyan-800";
        inputDisabled = "disabled";
    }
    if (!Model.IsEditAble)
    {
        cannotChangeData = "disabled";
    }

    
    if (Model.IsExamCompleted) examRowStyle = "col-md-6";
}

<div class="container-fluid">
    <div class="container">
        <div align="center" class="my-2 fs-3">
            @if (isCurrentUserProfile)
            {
                <text>Ваш профиль</text>
            }
            else
            {
                <text>Профиль пользователя @Model.Login</text>
                <br />
                <a asp-controller="UserProfile" asp-action="GetUserProfile" asp-route-userLogin="@User.Identity.Name" 
                class="my-3 fs-5 text-black" >Вернуться к себе</a>
            }
        </div>
        <div class="personalArea-userinfo @profileCardColor text-white p-3 pt-3 me-0 my-3" style="font-size:20px; border-radius:40px;">
            @if (Model.IsExamCompleted)
            {
                <div class="w-25 border border-white br-40 mx-auto mb-3 fs-5 bd-cyan-800">
                    <p class="fs-6 text-center mx-auto my-1">Вы закончили этот курс!</p>
                </div>
            }
            <div class="row">
                <div class="col-md-6 col-sm-12 text-white p" style="padding-left:80px;">
                    <div class="personalProfileCard ps-4 pt-2">
                        <form id="personalProfileFormId">
                            <input class="info-user-input" asp-for="Id" hidden="hidden" />
                            <input class="info-user-input" asp-for="IsExamCompleted" hidden="hidden" />
                            <input class="info-user-input" asp-for="CurrentGrade" hidden="hidden" />
                            <div class="mb-3">
                                Логин : <input class="info-user-input personal-profile-input-disabled" asp-for="Login" type="text">
                            </div>
                            <div class="mb-3">
                                Имя: <input class="info-user-input profile-input text-black" asp-for="Name" placeholder="Введите имя" class="form-control" type="text" disabled="@inputDisabled">
                            </div>
                            <div class="mb-3">
                                Фамилия: <input class="info-user-input profile-input text-black" asp-for="Surname" placeholder="Введите фамилию" class="form-control" type="text" disabled="@inputDisabled">
                            </div>
                            <div class="mb-3">
                                Возраст: <input class="info-user-input profile-input text-black" asp-for="Age" placeholder="Введите возраст" class="form-control" type="number" disabled="@inputDisabled">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn br-40 bd-blue-700 fs-6 text-white @cannotChangeData" id='updateInfoId'>
                                    Обновить информацию
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" style="padding-right:80px;">
                    <div class="personalProfileCard ps-4 pt-2 pb-0">
                        <p class="mb-3">
                            Окончательный результат: @if (Model.IsExamCompleted == false)
                            {
                                <text>не получен</text>
                            }
                            else
                            {
                                <text>@Model.CurrentGrade баллов из 100</text>
                            }
                        </p>
                        <button type="button" class="btn bd-blue-800 br-40 mb-2"
                                onclick="openModal({ url: '/UserProfile/GetLessonRecords',  modalId: 'modalWindow', data: '@Model.Id'})"
                                data-toggle="ajax-modal" data-target="Modal">
                            Список оценок
                        </button>
                        <br />
                        <p >Лекций пройдено: <input asp-for="LessonsCompleted" class="personal-profile-input-disabled info-user-input mt-2" disabled="disabled" style="height:40px;"/> </p>
                        <button class="btn bd-blue-800 br-40" id="showChangeButton" @anotherProfileDisabled style="background: #0058b4;">Изменить пароль</button>
                        <form id="changePasswordFormId">
                            <div class="d-flex justify-content-between mt-3 pe-5 " style="display: none;" id="changeDiv">
                                <input name="NewPassword" autocomplete="off" class="form-control profile-input profile-pass-hide mb-3 ps-3 w-50"
                                       id="changeInput" type="password" placeholder="Введите новый пароль...">
                                <button type="submit" class="btn br-40 bd-blue-800 text-white profile-pass-hide" @anotherProfileDisabled id='changePasswordButton' style="height:38px;">Обновить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto mb-4 mt-0 align-content-center w-75 bd-cyan-500 br-40" style="min-height:75px;">
            <div class="@examRowStyle col-sm-12  text-center">
                <button type="button" align="center" class="btn br-40 bd-blue-800 text-white text-center" @anotherProfileDisabled onclick="openModal({ url: '/UserProfile/GetLessonList', modalId: 'wideModalWindow'})"
                        data-toggle="ajax-modal" data-target="Modal">
                    Перейти к урокам
                </button>
            </div>
            @if (Model.IsExamCompleted)
            {
                <div class="col-md-6 col-sm-12 text-center">
                    <button type="button" align="center" class="btn br-40 bd-blue-800 text-white text-center" @anotherProfileDisabled onclick="openModal({ url: '/FinalResult/GetUserAnalys', modalId: 'wideModalWindow', data: '@Model.Id'})"
                            data-toggle="ajax-modal" data-target="Modal">
                        Посмотреть анализ
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.getElementById("showChangeButton").addEventListener("click", (e) => {
        e.preventDefault();

        var input = document.getElementById("changeInput");
        var changeButton = document.getElementById("changePasswordButton");

        if (input.style.display === 'block') {
            input.style.display = 'none';
            changeButton.style.display = 'none';
        }
        else {
            input.style.display = 'block';
            changeButton.style.display = 'block';
        }
    });

    document.getElementById("updateInfoId").addEventListener("click", async (event) => {
        event.preventDefault();

        var updateFormData = {
            Id: parseInt(document.getElementById("Id").value),
            IsExamCompleted: Boolean(document.getElementById("IsExamCompleted").value),
            CurrentGrade: parseFloat(document.getElementById("CurrentGrade").value.replace(/,/g, '.')),
            Login: document.getElementById("Login").value,
            Name: document.getElementById("Name").value,
            Surname: document.getElementById("Surname").value,
            Age: document.getElementById("Age").value,
            LessonsCompleted: parseInt(document.getElementById("LessonsCompleted").value)
        };
        var jsonUpdateFormData = JSON.stringify(updateFormData);

        const response = await fetch('/UserProfile/UpdateInfo', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: jsonUpdateFormData
        });

        const responseBody = await response.json();
        Swal.fire({
            title: 'Уведомление!',
            text: responseBody.description,
            icon: response.ok ? 'success' : 'error',
            confirmButtonText: 'Окей',
            background: '#333',
            color: 'white',
        });
    });

    document.getElementById("changePasswordButton").addEventListener("click", async (event) => {
        event.preventDefault();

        var changePassword = {
            NewPassword: document.getElementById("changeInput").value
        };
        var jsonСhangePassword = JSON.stringify(changePassword);

        const response = await fetch('/Account/ChangeUserPassword', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: jsonСhangePassword
        });

        const responseBody = await response.json();
        Swal.fire({
            title: 'Уведомление!',
            text: responseBody.description,
            icon: response.ok ? 'success' : 'error',
            confirmButtonText: 'Окей',
            background: '#2e0066',
            color: 'white',
        });
    });
</script>



            





