@using SQLServerCourse.Domain.Enum
@using SQLServerCourse.Domain.ViewModels.User
@model List<UserViewModel>

@{
    string dis = "";
    ViewData["Title"] = "Все пользователи | SQLCourse";
}

<div class="container mt-2">
    <div class="d-flex justify-content-between w-50 mx-auto">
        <a asp-controller="User" asp-action="GetUsers" class="btn d-block br-40 bd-cyan-500">Обновить таблицу</a>
        <button class="btn br-40 bd-blue-700" onclick="openModal({ url: '/User/GetAddUser', modalId: 'modalWindow'})"
                data-toggle="ajax-modal" data-target="Modal">
            Добавить пользователя
        </button>
    </div>
    <div class="row">
        <div class="card w-100 col-md-12 px-5 py-4 br-40 my-4">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Логин</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Экзамен выполнен</th>
                        <th scope="col">Отзыв</th>
                        <th scope="col">Может менять данные</th>
                        <th scope="col">Изменить</th>
                        <th scope="col">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].Id</td>
                            <td>@Model[i].Login</td>
                            <td>@Model[i].Role</td>
                            <td>
                                @if (Model[i].IsExamCompleted)
                                {
                                    <text>Да</text>
                                }
                                else
                                {
                                    <text>Нет</text>
                                }
                            </td>
                            <td>
                                @if (Model[i].IsReviewLeft)
                                {
                                    <button type="button" class="btn bd-cyan-500 br-40" onclick="openModal({ url: '/Review/GetUserReviews', modalId: 'wideModalWindow', data: '@Model[i].Id'})"
                                            data-toggle="ajax-modal" data-target="Modal">
                                        Отзывы пользователя
                                    </button>
                                }
                                else
                                {
                                    <text>Не оставил</text>
                                }
                            </td>
                            <td>
                                @if (Model[i].IsEditAble)
                                {
                                    <text>Да</text>
                                }
                                else
                                {
                                    <text>Нет</text>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn bd-cyan-500 rounded-pill" onclick="openModal({ url: '/User/GetUser', modalId: 'modalWindow', data: '@Model[i].Id'})"
                                        data-toggle="ajax-modal" data-target="Modal">
                                    Вся информация
                                </button>
                            </td>
                            <td>
                                @if (Model[i].Role == Role.Admin)
                                {
                                    dis = "disabled";
                                }
                                else
                                {
                                    dis = "";
                                }
                                <form id="deleteUserForm-@i">
                                    <input type="hidden" name="id" value="@Model[i].Id">
                                    <button type="submit" class="btn bd-blue-700 rounded-pill @dis" onclick="deleteUser(event, @i)">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    async function deleteUser(event, number) {
        event.preventDefault();
        Swal.fire({
            title: "Вы действительно хотите удалить пользователя?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#042b76",
            cancelButtonColor: "#800707",
            confirmButtonText: "Да, удалить!",
            cancelButtonText: "Отмена",
            background: '#333',
            iconColor: '#fff',
            color: 'white',
        }).then(async (result) => {
            event.preventDefault();

            if (result.isConfirmed) {
                var form = document.getElementById("deleteUserForm-" + number);
                var id = JSON.stringify(form.querySelector('input').value);

                const response = await fetch('/User/DeleteUser', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: id
                });

                const responseBody = await response.json();
                Swal.fire({
                    title: responseBody.description,
                    text: response.ok ? 'Больше вы его не увидите!' : 'Попробуйте позже!',
                    icon: response.ok ? 'success' : 'error',
                    background: '#333',
                    color: 'white',
                }).then(() => {
                    location.reload()
                });
            }
        });
    }
</script>
