@using SQLServerCourse.Domain.Enum;

@model SQLServerCourse.Domain.ViewModels.Lesson.LessonPassViewModel

@{

    ViewData["Title"] = "Первая тема | №1";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 lesson-container">
                <h2 class="text-center text-white">Практическая часть занятия</h2>
                <div class="tasks">
                    <form autocomplete="off" asp-controller="Teaching" asp-action="PassFirstLesson">
                        <h4 class="text-white mt-4" align="center">Начальный уровень</h4>
                        <br />
                        @for (int i = 0; i < Model.TestQuestions.Count; i++)
                        {
                            <p><b>@Model.TestQuestions[i].Number</b>. @Model.TestQuestions[i].DisplayQuestion</p>
                            <div align="center" style="display: none;" class="answrunright">Неправильно! Правильный ответ: @Model.TestQuestions[i].RightPageAnswer</div>
                            <div align="center" style="display: none;" class="answrright">Правильно!</div>
                            for (int j = 0; j < Model.TestQuestions[i].VariantsOfAnswer.Count; j++)
                            {
                                <input type="radio" asp-for="UserAnswers" value="v_@j" name="ques_@i"/>
                                <label>@Model.TestQuestions[i].VariantsOfAnswer[j].Content</label>
                                <br />
                            }
                            <br />
                        } 
                        <br />
                        <h4 class="text-white" align="center">Средний уровень</h4>
                        <br />
                        @for (int i = 0; i < Model.OpenQuestions.Count; i++)
                        {
                            <p>
                                <b>@Model.OpenQuestions[i].Number</b>. @Model.OpenQuestions[i].DisplayQuestion
                                <br />
                            </p>
                            <input class="form-control" style="border-radius:20px; max-width:275px;"type="text" asp-for="UserAnswers" placeholder="Ответ...">
                            <div align="center" style="display: none;" class="answrunright">Неправильно! Правильный ответ: @Model.OpenQuestions[i].Answers[0]</div>
                            <div align="center" style="display: none;" class="answrright">Правильно!</div>
                            <br />
                        }
                        <button type="submit" id="sendanswers" class="btn btn-gradient btn-submit-answers">Завершить</button>
                    </form>
                    <div class="text-center">
                        @if (User.Identity.IsAuthenticated)
                        {   
                            <a id="returnonlistoflessons" class="btn btn-gradient"
                           asp-controller="PersonalProfile" asp-action="GetPersonalProfile">Выйти на список занятий</a>
                        }
                        else
                        {
                            <a id="returnonlistoflessons" class="btn btn-gradient"
                           asp-controller="Home" asp-action="Index">Выйти на главную</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tasksCorrectness = @Json.Serialize(Model.TasksCorrectness);

    var unrightAnswers = document.getElementsByClassName('answrunright');
    var rightAnswers = document.getElementsByClassName('answrright');

    for (let i = 0; i < tasksCorrectness.length; i++) {
        if (tasksCorrectness[i]) {
            rightAnswers[i].style.display = 'block';
        }
        else {
            unrightAnswers[i].style.display = 'block';
        }
    }
</script>
