@using SQLServerCourse.Domain.ViewModels.FinalResult;
@model ResultViewModel

@{
    ViewData["title"] = "Результат | SqlServerCourse";
}

<div class= "container-fluid">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-3 col-sm-3">
            </div>
            <div class="br-40 bd-red-700 col-md-6 col-sm-6 text-center py-5">
                <p class="fs-4 fw-bolder">Поздравляем @Model.Login!!!</p>                <p class="fs-5">Уважаемый @Model.Name @Model.Surname, ваш окончательный результат:</p>
                <p class="fs-5"> @Model.CurrentGrade баллов из 100 !!!</p>
            </div>
            <div class="col-md-3 col-sm-3">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-sm-12">
                <button type="button" class="btn bd-blue-800 br-40 text-white mb-4 mx-auto"
                        onclick="openModal({ url: '/FinalResult/GetUserAnalys', modalId: 'modalWindow', data: '@Model.Id'})" data-toggle="ajax-modal" data-target="Modal">
                    Просмотреть анализ
                </button>
            </div>
            <div class="col-md-6 col-sm-12">
                <a class="btn bd-blue-800 br-40 text-white mb-4 mx-auto" asp-controller="Home" asp-action="Index">
                    На главную
                </a>
            </div>
        </div>
    </div>
</div>

<script src = "https://kit.fontawesome.com/1e1acde3d7.js" crossorigin = "anonymous"></script>