@using SQLServerCourse.Domain.Enum;
@using System.Data

@model SQLServerCourse.Domain.ViewModels.Lesson.LessonPassViewModel

@{

    ViewData["Title"] = "Первая тема | №1";
}

@{
    string lessonContainerColor = "bd-blue-700";
    if (Model.LessonType == LessonType.Exam)
    {
        lessonContainerColor = "bd-indigo-800";
    }
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-8 col-sm-12 @lessonContainerColor my-5 br-40 px-4">
                @if (Model.LessonType == LessonType.Exam)
                {
                    <p class="text-center text-white text-uppercase fs-2 mt-3">э к з а м е н</p>
                }
                else
                {
                    <p class="text-center text-white fs-2 mt-3">Практическая часть занятия</p>
                }
                @if ((Context.Request.Method == "POST") && (Model.LessonType == LessonType.Exam))
                {
                    <a class="btn d-block br-40 bd-cyan-500 my-4 text-white mx-auto"
                    asp-controller="FinalResult" asp-action="GetFinalResult">Завершить экзамен</a>
                }
                @if ((Context.Request.Method == "POST") && (Model.LessonType != LessonType.Exam))
                {
                    <a class="btn d-block br-40 bd-cyan-500 my-4 text-white mx-auto"
                       asp-controller="UserProfile" asp-action="GetUserProfile" asp-route-userLogin="@User.Identity.Name">Перейти в профиль</a>
                }
                <div class="tasks" align="justify">
                    <form autocomplete="off" asp-controller="Lesson" asp-action="PassLesson">
                        <div>
                            <input type="hidden"
                                   asp-for="LessonId" value="@Model.LessonId" />
                            <input type="hidden"
                                   asp-for="LessonType" value="@Model.LessonType" />
                        </div>
                        <p class="text-white mt-4 fs-4" align="center">Начальный уровень</p>
                        <br />
                        <div align="justify">
                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <div>
                                    <input type="hidden" asp-for="Questions[i].QuestionType" />
                                    <input type="hidden" asp-for="Questions[i].Number" />
                                    <input type="hidden" asp-for="Questions[i].DisplayQuestion">
                                    <input type="hidden" asp-for="Questions[i].RightPageAnswer">
                                    <input type="hidden" asp-for="Questions[i].Id">
                                    @for (int j = 0; j < Model.Questions[i].InnerAnswers.Count; j++)
                                    {
                                        <input type="hidden" asp-for="Questions[i].InnerAnswers[j]" />
                                    }
                                </div>
                                
                                if (Model.Questions[i].QuestionType == TaskType.Open && Model.Questions[i - 1].QuestionType == TaskType.Test)
                                {
                                    <p class="text-white mt-4 fs-4" align="center">Средний уровень</p>
                                    <br />
                                }
                                else
                                {
                                    if (Model.Questions[i].QuestionType == TaskType.Practical && Model.Questions[i - 1].QuestionType == TaskType.Open)
                                    {
                                        <p class="text-white mt-4 fs-4" align="center">Высокий уровень</p>
                                        <p>
                                            Допустим у нас база данных - Cinema. Которая основана на предметной области - кинотеатр (вы уже к ней подключились, поэтому писать
                                            такие операторы, как USE, GO не надо). И в этой базе есть следующие таблицы:
                                        </p>
                                        <b>
                                            CREATE TABLE [dbo].[Films](<br />
                                            [Id] [bigint] IDENTITY(1,1) NOT NULL,<br />
                                            [Name] [nvarchar](50) NOT NULL,<br />
                                            [Description] [nvarchar](200) NULL,<br />
                                            CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED<br />
                                            (<br />
                                            [Id] ASC<br />
                                            )<br />
                                            )<br />
                                            <br />
                                            CREATE TABLE [dbo].[Halls](<br />
                                            [Id] [tinyint] IDENTITY(1,1) NOT NULL,<br />
                                            [Name] [nvarchar](50) NOT NULL,<br />
                                            CONSTRAINT [PK_Halls] PRIMARY KEY CLUSTERED<br />
                                            (<br />
                                            [Id] ASC<br />
                                            )<br />
                                            )<br />
                                            <br />
                                            CREATE TABLE [dbo].[Screenings](<br />
                                            [Id] [bigint] IDENTITY(1,1) NOT NULL,<br />
                                            [HallId] [tinyint] NOT NULL,<br />
                                            [FilmId] [bigint] NOT NULL,<br />
                                            [Time] [datetime2](7) NOT NULL,<br />
                                            CONSTRAINT [PK_Screenings] PRIMARY KEY CLUSTERED<br />
                                            (<br />
                                            [Id] ASC<br />
                                            )<br />
                                            )<br />
                                            <br />
                                            ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [FK_Screenings_Films_FilmId] FOREIGN KEY([FilmId])<br />
                                            REFERENCES [dbo].[Films] ([Id])<br />
                                            ON DELETE CASCADE<br />
                                            GO<br />
                                            <br />
                                            ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [FK_Screenings_Halls_HallId] FOREIGN KEY([HallId])<br />
                                            REFERENCES [dbo].[Halls] ([Id])<br />
                                            ON DELETE CASCADE<br />
                                            GO<br />
                                            <br />
                                            CREATE TABLE [dbo].[HallRows](<br />
                                            [Id] [bigint] IDENTITY(1,1) NOT NULL,<br />
                                            [HallId] [tinyint] NOT NULL,<br />
                                            [Number] [smallint] NOT NULL,<br />
                                            [Capacity] [smallint] NOT NULL,<br />
                                            CONSTRAINT [PK_HallRows] PRIMARY KEY CLUSTERED<br />
                                            (<br />
                                            [Id] ASC<br />
                                            )<br />
                                            )<br />
                                            <br />
                                            ALTER TABLE [dbo].[HallRows]  WITH CHECK ADD  CONSTRAINT [FK_HallRows_Halls_HallId] FOREIGN KEY([HallId])<br />
                                            REFERENCES [dbo].[Halls] ([Id])<br />
                                            ON DELETE CASCADE<br />
                                            GO<br />
                                            <br />
                                            CREATE TABLE [dbo].[Tickets](<br />
                                            [Id] [bigint] IDENTITY(1,1) NOT NULL,<br />
                                            [Row] [tinyint] NOT NULL,<br />
                                            [Seat] [tinyint] NOT NULL,<br />
                                            [Cost] [decimal](18, 2) NOT NULL,<br />
                                            [ScreeningId] [bigint] NOT NULL,<br />
                                            CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED<br />
                                            (<br />
                                            [Id] ASC<br />
                                            )<br />
                                            )<br />
                                            <br />
                                            ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Screenings_ScreeningId] FOREIGN KEY([ScreeningId])<br />
                                            REFERENCES [dbo].[Screenings] ([Id])<br />
                                            ON DELETE CASCADE<br />
                                            GO<br />
                                            <br />
                                        </b>
                                        <p>
                                            Со следующими записями:<br /><br />
                                            Films<br /><br />
                                            <img class="img-fluid" src="~/images/filmTable.jpg" />
                                            <br /><br />
                                            HallRows<br /><br />
                                            <img class="img-fluid" src="~/images/hallRowTable.jpg" />
                                            <br /><br />
                                            Halls<br /><br />
                                            <img class="img-fluid" src="~/images/hallTable.jpg" />
                                            <br /><br />
                                            Screenings<br /><br />
                                            <img class="img-fluid" src="~/images/screeningTable.jpg" />
                                            <br /><br />
                                            Tickets<br /><br />
                                            <img class="img-fluid" src="~/images/ticketTable.jpg" />
                                            <br /><br />
                                        </p>
                                    }
                                }
                                <p><b>@Model.Questions[i].Number</b>. @Model.Questions[i].DisplayQuestion</p>
                                <div align="center" style="display: none;" class="answrunright my-3 br-40 bd-red-700 p-2">Неправильно! Правильный ответ: @Model.Questions[i].RightPageAnswer</div>
                                <div align="center" style="display: none;" class="answrright my-3 br-40 bd-green-600">Правильно!</div>
                                if (Model.Questions[i].Remarks != null)
                                {
                                    foreach (var remark in Model.Questions[i].Remarks)
                                    {
                                        <div align="center" class="my-3 br-40 bd-red-700 p-2">@remark</div>
                                    }
                                }
                                if (Model.Questions[i].QuestionType == TaskType.Test)
                                {
                                    for (int j = 1; j <= Model?.Questions[i]?.VariantsOfAnswer?.Count; j++)
                                    {
                                        <div>
                                            <input type="hidden" asp-for="Questions[i].VariantsOfAnswer[j - 1].Id" />
                                            <input type="hidden" asp-for="Questions[i].VariantsOfAnswer[j - 1].IsRight" />
                                            <input type="hidden" asp-for="Questions[i].VariantsOfAnswer[j - 1].VariantNumber" />
                                            <input type="hidden" asp-for="Questions[i].VariantsOfAnswer[j - 1].QuestionId" />
                                            <input type="hidden" asp-for="Questions[i].VariantsOfAnswer[j - 1].Content">
                                        </div>
                                        <input id="input-pointer-@j-@i" type="radio" asp-for="Questions[i].UserAnswer" value="v_@j" />
                                        <label for="input-pointer-@j-@i">@Model.Questions[i].VariantsOfAnswer[j - 1].Content</label>
                                        <br />
                                    }
                                }
                                else
                                {
                                    if (Model.Questions[i].QueryResult != null)
                                    {
                                        <div class="table-responsive mx-auto">
                                            <table class="table table-dark">
                                                <thead>
                                                    <tr>
                                                        @foreach (System.Data.DataColumn col in Model.Questions[i].QueryResult.Columns)
                                                        {
                                                            <th>@col.ColumnName</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (System.Data.DataRow row in Model.Questions[i].QueryResult.Rows)
                                                    {
                                                        <tr>
                                                            @foreach (var cell in row.ItemArray)
                                                            {
                                                                <td>@cell</td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    } 
                                    if (Model.Questions[i].QuestionType == TaskType.Open)
                                    {
                                        <input class="form-control br-40 w-50" type="text" asp-for="Questions[i].UserAnswer" placeholder="Ответ...">
                                    }
                                    else
                                    {
                                        <textarea class="form-control br-40 w-75" type="text" asp-for="Questions[i].UserAnswer" rows="3"></textarea>
                                    }
                                }
                                <br />
                            }
                        </div>
                        @if (Context.Request.Method == "GET")
                        {
                            <div class="text-center">
                                <button type="submit" class="btn br-40 bd-green-600 mt-2 text-white fs-5 mb-4">Завершить</button>
                            </div>
                            
                        }
                    </form>
                    @if ((Context.Request.Method == "POST") && (Model.LessonType == LessonType.Exam))
                    {
                        <a class="btn d-block br-40 bd-cyan-500 my-4 text-white mx-auto"
                        asp-controller="FinalResult" asp-action="GetFinalResult">Завершить экзамен</a>
                    }
                    @if ((Context.Request.Method == "POST") && (Model.LessonType != LessonType.Exam))
                    {
                        <a class="btn d-block br-40 bd-cyan-500 my-4 text-white mx-auto"
                           asp-controller="UserProfile" asp-action="GetUserProfile" asp-route-userLogin="@User.Identity.Name">Перейти в профиль</a>
                    }
                </div>
            </div>
            <div class="col-md-2 hidden-sm"></div>
        </div>
    </div>
</div>

@{
    @if (Context.Request.Method == "POST")
    {
        var taskCorrectness = new List<bool>();
        for (int i = 0; i < Model.Questions.Count; i++)
        {
            taskCorrectness.Add(Model.Questions[i].AnswerCorrectness);
        }

        <script>
            var taskCorrectness = @Json.Serialize(taskCorrectness);
            
            var unrightAnswers = document.getElementsByClassName('answrunright');
            var rightAnswers = document.getElementsByClassName('answrright');

            for (let i = 0; i < taskCorrectness.length; i++) {
                if (taskCorrectness[i]) {
                    setTimeout(function () {
                        rightAnswers[i].style.display = 'block';
                    }, 0);
                }
                else {
                    setTimeout(function () {
                        unrightAnswers[i].style.display = 'block';
                    }, 0);
                }
            }
        </script>
    }
}
